<!DOCTYPE html>
<html>
<head>
	<title>Черкасова Валерия </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

	<style type="text/css">
		html {
			background: rgb(93,71,139);
			font-family: Verdana;
			color: rgb(171,130,255);
		}
		.wrap {
			width: 1000px;
			margin:0 auto;
		}
		.left {
			width: 65%;
			float: left;
		}
		.right {
			width: 35%;
			float: left;
		}
		.gall {
			margin-top: 26px;
		}
		.gall img {
			display: block;
			float: left;
			width: 130px;
			height: 130px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.content {
			text-align: justify;			
			padding-right: 20px;
		}
		.content p.first {
			background: rgb(171,130,255);
			color: #f8f860;
		}
		.content b {
			font-weight: bold;
			font-style: italic;
			color: rgb(171,130,255);
		}
	</style>
</head>
<body>
	<div class="wrap">
		<div class="left">
			<h1>Заголовок</h1>
			<div class="content">
				<p class="first">Текст (от лат. textus — «ткань; сплетение, связь, <b>паутина</b>, сочетание») — зафиксированная на каком-либо материальном <b>носителе</b> человеческая мысль; в общем плане связная и полная последовательность символов.</p>

				<p>
					<b>Существуют</b> две основные трактовки понятия «текст»: «имманентная» (расширенная, философски нагруженная) и «репрезентативная» (более частная). Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
				</p>	

				<p>
					В лингвистике термин <b>текст</b> используется в широком значении, включая и образцы устной речи. Восприятие текста изучается в рамках лингвистики текста и психолингвистики. Так, например, И. Р. Гальперин определяет текст следующим образом: «это письменное сообщение, объективированное в виде письменного документа, состоящее из ряда высказываний, объединённых разными типами лексической, грамматической и логической связи, имеющее определённый моральный характер, прагматическую установку и соответственно литературно обработанное»[1].
				</p>

				<p>Текст (от лат. textus — «ткань; сплетение, связь, паутина, сочетание») — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.</p>

				<p>
					Существуют две основные трактовки понятия <b>«текст»</b>: «имманентная» (расширенная, философски нагруженная) и «репрезентативная» (более частная). Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
				</p>	

				
			</div>
		</div>
		<div class="right">
			<div class="gall">

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

				<div class="item">
					<img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=150%C3%97150&w=150&h=150">
				</div>

			</div>
		</div>
	</div>	
</body>
</html>
