html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{height: 100%;}
body {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-size: 14px;
	color: #555555;
	line-height: 1;
	background: #fff;
	background-image: radial-gradient(center center, circle cover, #ffa400, #a53301);
	background-image: -o-radial-gradient(center center, circle cover, #ffa400, #a53301);
	background-image: -ms-radial-gradient(center center, circle cover, #ffa400, #a53301);
	background-image: -moz-radial-gradient(center center, circle cover, #ffa400, #a53301);
	background-image: -webkit-radial-gradient(center center, circle cover, #ffa400, #a53301);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	font-size: 14px;
	color: #0088dc;
}
a:hover{
	text-decoration: none;
}
i{
	font-style: italic;
}
b{
	font-weight: bold;
}
p{
	font-size: 14px;
	color: #555;
	line-height: 20px;
	margin-bottom: 10px;
}
.title_page{
	border-bottom: #e7e7e7 solid 1px;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
h2{
	display: inline-block;
	font-size: 30px;
	color: #333;
	font-weight: normal;
	position: relative;
	margin-bottom: 20px;
}
h2:before{
	content: '';
	width: 100%;
	height: 2px;
	background: #ff6b06;
	position: absolute;
	bottom: -10px;
	left: 0;
}
h3{
	display: inline-block;
	font-size: 24px;
	color: #333;
	font-weight: normal;
	position: relative;
	margin-bottom: 20px;
}
h3:before{
	content: '';
	width: 100%;
	height: 2px;
	background: #ff6b06;
	position: absolute;
	bottom: -10px;
	left: 0;
}
h4{
	display: inline-block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	position: relative;
	margin-bottom: 20px;
}
h4:before{
	content: '';
	width: 100%;
	height: 2px;
	background: #ff6b06;
	position: absolute;
	bottom: -10px;
	left: 0;
}
h5{
	display: inline-block;
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.clearfix:after {
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
	content: " ";
	clear: both;
}
div.wrapper{
	width: 1000px;
	margin: 0 auto;
}
.wrapp_content{
	width: 940px;
	margin: 0 auto;
}
.content{
	background: #fff;
	height: 100%;
	min-height: 800px;
	padding: 16px 30px;
	-moz-box-shadow: 0 10px 30px rgba(60,77,99,.3); /* drop shadow */
	-webkit-box-shadow: 0 10px 30px rgba(60,77,99,.3); /* drop shadow */
	box-shadow: 0 10px 30px rgba(60,77,99,.3); /* drop shadow */
	position: relative;
	z-index: 3;
}
.logo{
	float: left;
	width: 220px;
	margin-top: 17px;
}
.logo a{
	display: block;
	background: url(../images/logo.png) no-repeat;
	width: 220px;
	height: 88px;
}
.banner{
	float: left;
	width: 385px;
	overflow: hidden;
	margin-left: 20px;
}
.banner a{
	display: block;
}
.banner a img{
	max-width: 100%;
}
.contact_box{
	float: right;
	width: 300px;
	line-height: 15px;
	margin-top: 4px;
}
.address{
	font-size: 13px;
	color: #999;
}
.address span{
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 16px;
}
.sch a{
	font-size: 12px;
}
.tel, .mail{
	font-size: 13px;
	color: #999;
	line-height: 20px;
}
.tel span{
	font-size: 14px;
	color: #333;
}
.header_bottom{
	margin-top: 33px;
}
.plagin{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.head_menu > ul > li{
	float: left;
	margin-left: 1px;
	position: relative;
	z-index: 2;
} 
.head_menu > ul > li:hover > ul{
	display: block;
}
.head_menu > ul > li:first-child{
	margin-left: 0;
}
.head_menu > ul > li:first-child a{
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.head_menu > ul > li.last a{
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 03px 3px 0;
}
.head_menu > ul > li > a{
	display: block;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	padding: 13px 22px 13px 15px;
	background-color: #ff7515;
	background-image: -moz-linear-gradient(bottom, #f60 0%, #ff8124 100%);
	background-image: -o-linear-gradient(bottom, #f60 0%, #ff8124 100%);
	background-image: -webkit-linear-gradient(bottom, #f60 0%, #ff8124 100%);
	background-image: linear-gradient(bottom, #f60 0%, #ff8124 100%);
	position: relative;
}
.head_menu > ul > li:hover > a{
	background: #ef4d39;
}
.head_menu > ul > li > a.drop:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #333 transparent transparent transparent;
	position: absolute;
	right: 8px;
	top: 19px;
}
.head_menu > ul > li > ul{
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	background: #fff;
	border: 1px solid #a4a4a4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 9px 15px rgba(1,1,1,.13);
	-webkit-box-shadow: 0 9px 15px 
}
.head_menu > ul > li > ul > li{
	min-width: 118px;
	border-top: #e5e5e5 solid 1px;
	position: relative;
}
.head_menu > ul > li > ul > li:first-child{
	border-top: 0;
}
.head_menu > ul > li > ul > li:hover{
	background: #4189c9;
}
.head_menu > ul > li > ul > li:hover > a{color: #fff;}
.head_menu > ul > li > ul > li a{
	display: block;
	font-size: 13px;
	padding: 10px;
	color: #333;
	text-decoration: none;
}
.head_menu > ul > li ul > li:hover > ul{
	display: block;
}
.head_menu > ul > li ul > li > ul{
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;
	background: #fff;
	border: 1px solid #a4a4a4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 5px 5px 5px 5px rgba(1,1,1,0.13);
	box-shadow: 5px 5px 5px 5px rgba(1,1,1,0.13);
}
.head_menu > ul > li ul > li > ul li{
	min-width: 180px;
	border-top: #e5e5e5 solid 1px;
}
.head_menu > ul > li ul > li > ul li:hover{
	background: #3abec1;
}
.head_menu > ul > li ul > li > ul li:first-child{border-top: 0;}
.head_menu > ul > li ul > li > ul li:hover a{
	color: #fff;
}
.main{
	margin-top: 35px;
	padding-bottom: 250px;
}
.sidebar{
	float: left;
	width: 222px;
	margin-top: 10px;
}
.news_content{
	margin: 25px 0 5px;
	border-bottom: #e7e7e7 solid 1px;
	padding-bottom: 5px;
}
.news_row{
	margin-bottom: 10px;
	line-height: 20px;
}
.date_news{
	font-size: 12px;
	color: #999;
	line-height: 15px;
}
.all_news a{
	font-size: 12px;
}
.banner_s{
	margin-top: 30px;
}
.main_section{
	float: left;
	width: 680px;
	margin-left: 38px;
}
.banner_top{
	margin-bottom: 30px;
}
.banner_top ul{
	text-align: center;
}
.banner_top ul li{
	display: inline-block;
	margin-left: 5px;
}
.banner_top ul li:first-child{
	margin-left: 0;
}
.hot_plagin{
	margin: 20px 0;
}
.hot_slider .bx-wrapper{
	margin-bottom: 20px;
}
.slide_text{
	background: #ffc10e;
	position: absolute;
	padding: 15px 10px; 
	bottom: 18px;
	left: 0;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
}
.slide_text span{
	display: block;
	font-size: 46px;
}
.hot_slider .bx-wrapper .bx-pager{
	bottom: 34px;
}
.hot_slider .bx-wrapper .bx-pager.bx-default-pager a{
	background: url(../images/point_slide.png) no-repeat -20px 0;
	width: 11px;
	height: 12px;
}
.hot_slider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background-position: 0 0;
}
.hot_slider .bx-wrapper .bx-controls-direction a{
	width: 18px;
	height: 30px;
	margin-top: -15px;
}
.hot_slider .bx-wrapper .bx-prev, .hot_slider .bx-wrapper .bx-prev:hover{
	background: url(../images/arrow_slide.png) no-repeat 0 0;
}
.hot_slider .bx-wrapper .bx-next, .hot_slider .bx-wrapper .bx-next:hover{
	background: url(../images/arrow_slide.png) no-repeat -19px 0;
}
footer{
	position: absolute;
	width: 940px;
	bottom: 0;
	border-top: #f0f0f0 solid 3px;
	padding-top: 25px;
	height: 155px;
	z-index: 3;
}
.footer_left{
	float: left;
	width: 222px;
}
.footer_right{
	float: left;
	width: 680px;
	margin-left: 38px;
}
.copy_w{
	font-size: 13px;
}
.count{
	margin-top: 30px;
}
.info_s{
	float: left;
}
.social_box{
	float: right;
}
.f_address{
	font-size: 14px;
	color: #999;
	line-height: 20px;
	margin-top: 5px;
}
.f_address span, .f_address a{
	color: #333333;
	text-decoration: none;
}
.info_s b{
	color: #333;
}
.social_box ul li{
	float: left;
	margin-left: 23px;
}
.social_box ul li:first-child{
	margin-left: 0;
}
.social_box ul li a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/social_icon.png) no-repeat;
	opacity: 0.8;
}
.social_box ul li a:hover{opacity: 1;}
.social_box ul li.gp a{background-position: 0 0;}
.social_box ul li.tw a{background-position: -32px 0;}
.social_box ul li.vk a{background-position: -64px 0;}
.devel{
	margin-top: 30px;
	font-size: 13px;
}
.devel a{
	font-size: 13px;
}
.app1{
	background: url(../images/app1.png);
	width: 173px;
	height: 214px;
	position: absolute;
	top: 40px;
	left: 108px;
	z-index: 1;
}
.app2{
	background: url(../images/app2.png);
	width: 246px;
	height: 304px;
	position: absolute;
	right: 127px;
	top: 446px;
	z-index: 1;
}
.app3{
	background: url(../images/app3.png);
	width: 353px;
	height: 234px;
	position: absolute;
	bottom: 0;
	left: -229px;
}
.breadcrumbs ul li{
	display: inline-block;
	font-size: 8px;
	color: #ff7a1a;
}
.breadcrumbs ul li:first-child a{
	margin-left: 0;
}
.breadcrumbs ul li a{
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
}
.breadcrumbs ul li span{
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
	color: #555;
}
.page_row{
	margin-top: 35px;
}
.page_row h2{
	margin-bottom: 15px;
}
.page_row h2:before{
	background: none;
}
.page_left{
	float: left;
	width: 455px;
	border-right: #e7e7e7 solid 1px;
	padding-right: 17px;
}
.page_right{
	float: right;
	width: 180px;
}
.right_menu ul{
	padding: 5px;
}
.right_menu ul li{
	margin-top: 5px;
	position: relative;
}
.right_menu ul li:before{
	content: '•';
	font-size: 12px;
	color: #ff7c1d;
	position: absolute;
	left: 0;
	top: 0px;
}
.right_menu ul li a{
	font-size: 13px;
}
.right_menu li{
	margin-top: 10px;
	padding-left: 15px;
	position: relative;
}
.right_menu > li:before{
	content: '►';
	font-size: 7px;
	color: #ff7c1d;
	position: absolute;
	left: 0;
	top: 5px;
}
.right_menu > li.active:before{
	content: '▼';
}
.right_menu li a{
	line-height: normal;
}
.tur_table{
	margin-top: 10px;
}
.tur_table table{
	width: 100%;
}
.tur_table table thead tr td{
	font-size: 12px;
	color: #333;
	padding: 5px 2px;
}
.tur_table table thead tr td span{
	font-size: 10px;
	display: block;
}
.tur_table table tbody tr{
	border-top: #dddddd solid 1px;
}
.tur_table table tbody tr td{
	font-size: 12px;
	color: #333;
	padding: 10px 2px 10px 5px;
	vertical-align: middle;
}
.tur_table table tbody tr td a{
	font-size: 12px;
}
.tur_table table tbody tr:nth-child(odd){
	background: #f7f7f7;
}
.tour_des table{
	width: 100%;
}
.tour_des table tr td{
	padding: 5px;
	vertical-align: middle;
	border-bottom: #dddddd solid 1px;
}
.tour_des table tr td a{
	display: block;
	font-size: 13px;
}
.tour_des table tr td span{
	display: inline-block;
	font-size: 12px;
	color: #555555;
	line-height: 15px;
}
.tour_des table tr:nth-child(even){
	background: #f7f7f7;
}
.all_tour ul{
	margin: 30px 0;
}
.all_tour ul li{
	color: #333333;
	font-weight: bold;
	margin-bottom: 15px;
}
.all_tour ul li a{
	display: inline-block;
	color: #333333;
	text-decoration: none;
	border-bottom: #333 dashed 1px;
	font-size: 16px;
}
.all_tour ul li:hover a{
	border-bottom: transparent solid 1px;
}
.tex_tour p b{
	color: #333;
}
.page_right .item{
	margin-bottom: 35px;
}
.list_row{
	font-size: 14px;
	margin: 15px 0;
}
.list_row ul li{
	margin-top: 10px;
}
.all_count a{
	font-size: 12px;
}
.list_tab{
	position: relative;
	margin-bottom: 25px;
}
.list_tab:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #999;
	bottom: 0;
	left: 0;
}
.list_tab li{
	display: inline-block;
	padding: 5px 7px 5px 7px;
	background: #fff;
	border: transparent solid 1px;
}
.list_tab li.active{
	border: #999999 solid 1px;
	border-bottom: transparent solid 1px;
	position: relative;
	-moz-border-radius: 0px 3px 0px 0px;
	-webkit-border-radius: 0px 3px 0px 0px;
	border-radius: 0px 3px 0px 0px;
}
.list_tab li.active a{
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
.text_tab ul{
	margin: 10px 0;
}
.text_tab ul li{
	padding-left: 20px;
	line-height: normal;
	position: relative;
	margin-bottom: 5px;
}
.text_tab ul li:before{
	content: '—';
	position: absolute;
	top: 0;
	left: 0;
	color: #555;
}
.text_tab b{
	display: block;
}
.text_tab p{
	margin-top: 5px;
}
.order{
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #ff7515; 
	padding: 13px 60px;
	font-size: 16px;
	color: #333;
	text-decoration: none;
}
.order:hover{
	background: #ef4d3a;
	color: #fff;
}
blockquote{
	display: inline-block;
	padding-left: 10px;
	font-size: 14px;
	line-height: 20px;
	border-left: #fdc325 solid 2px;
	margin: 10px 0;
}
.tab table{
	width: 100%;
	margin: 10px 0;
	border-bottom: #dddddd solid 1px;
}
.tab table tr{
	border-top: #dddddd solid 1px;
}
.tab table tr td{
	padding: 10px 10px;
	font-size: 13px;
	vertical-align: middle;
	border-left: #dddddd solid 1px;
}
.tab table tr td:first-child{
	border-left: 0;
}
.tab table tr td{
	width: 150px;
}
.tab table tr td a{
	font-size: 13px;
}
.tab table tr:nth-child(even){
	background: #f7f7f7;
}
.tab table thead tr:first-child{
	background: #f7f7f7;
}
.tab table thead tr td.bg_b{
	background: #e8e8e8;
}
.tab table thead tr td div{
	position: relative;
}
.tooltip {
    z-index:999;
    left:-9999px;
    top:-9999px;
    font-size:14px;
    color:#323232;
    position:absolute;
    background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.31);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.31);
	box-shadow: 0 1px 6px rgba(0,0,0,.31);
	padding: 5px 10px;
}
.tooltip p {
    margin: 0px;
    padding: 0px;
}
.slider_san{
	margin-top: 10px;
}
.slider_san li img{
	width: 455px;
	height: 293px;
}
#bx-pager li{
	height: 61px;
}
#bx_slide .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 0;
	margin-top: 0;
	outline: 0;
	width: 25px;
	height: 293px;
	text-indent: -9999px;
	z-index: 9999;
	background: url(../images/bg_arrow.png);
}
#bx_slide .bx-wrapper .bx-prev{
	left: -1px;
	position: relative;
}
#bx_slide .bx-wrapper .bx-prev:before{
	content: '';
	background: url(../images/arrow_slider_p.png) no-repeat 0 0;
	width: 12px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 7px;
	margin-top: -10px;
}
#bx_slide .bx-wrapper .bx-next{
	right: 0;
	position: relative;
}
#bx_slide .bx-wrapper .bx-next:before{
	content: '';
	background: url(../images/arrow_slider_p.png) no-repeat -12px 0;
	width: 12px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -10px;
}
#bx-pager .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	outline: 0;
	width: 25px;
	height: 61px;
	text-indent: -9999px;
	z-index: 9999;
}
#bx-pager .bx-wrapper .bx-prev{
	left: -5px;
	background: url(../images/arrow_pager.png) 0 0;
}
#bx-pager .bx-wrapper .bx-next{
	right: -4px;
	background: url(../images/arrow_pager.png) -26px 0;
}
#bx_slide .bx-viewport{
	padding-bottom: 50px;
}
.slide_img{
	height: 283px;
	overflow: hidden;
}
.bx-wrapper .bx-caption{
	bottom: -40px;
	background: none;
}
.bx-wrapper .bx-caption span{
	color: #555555;
	font-size: 14px;
}

.B_crumbBox li:last-child .sep {
	display:none;
}

.partner {
padding-bottom: 28px;
display: block;
clear: both;
margin-bottom: 23px;
font-family: Trebuchet MS;
box-shadow: 0px 0px 5px 1px #c2c2c2;
padding: 18px;	
}
.partner img {
float: left;
margin-right: 10px;

clear: both;
padding: 0px;
}
.partner_pagetitle {
	margin-bottom: 10px; 
	font-weight: bold;
	font-size: 16px;
}
.partner a {
color: #000;
text-decoration: none;	
}


  ul.comment_list{
	  position: relative;
	  float: left;
	  width: 100%;
	  margin: 0;
	  padding: 0;}
	ul.comment_list li{
		list-style: none;
		position: relative;}
	  .comment_name{
		  position: relative;
		  float: left;
		  width: 95%;
		  margin: 3px 0 0 0;
		  padding-left: 5%;
		  
		  font-size: 20px;color: #074878;font-weight: bold;}
	  .comment_name.even{
		  color: #9a1824;}
	  span.status{
		  display: block;
		  line-height: 1em;
		  color: #333333;
		  font-size: 15px;}	  	  
		  
	  .comment_text{
		  position: relative;
		  float: left;
		  width: 90%;
		  padding: 17px 5% 17px 5%;
		  margin: 21px 0 10px 0;
		  background: #e6e6e6;
		 }
	  .comment_text:before{
		  content: "";
		  position: absolute;
		  top: -20px;
		  left: 70px;
		  width: 28px;
		  height: 20px;
		  background: url(../images/comment_arrow_grey.png) no-repeat;display:block;}	
	  .comment_text.even{
		  background: #FFF;
		  margin: 33px 0 10px 0;
		  padding: 6px 4%;
		  width: 92%;}
	  .comment_text.even:before{
		  content: "";
		  position: absolute;
		  top: -23px;
		  left: 57px;
		  width: 44px;
		  height: 23px;
		  background: url(../images/comment_arrow_white.png) no-repeat;}	  	    	
	
		ul.comment_list li ul{
			position: relative;
			float: left;
			width: 89%;
			margin-left: 5%;}
.comment_text.even {
background: #FFF;
margin: 33px 0 10px 0;
padding: 6px 4%;
width: 92%;
}

.faq_name {
	margin-bottom: 15px;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	margin-top: 15px;
}
.inp {
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: .8em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Tahoma;
	width: 280px;
	margin-bottom: 7px;
}
.inp_b {
display: block;
font-size: 14px;
color: #333;
text-decoration: none;
padding: 4px 23px 13px 15px;
background-color: #ff7515;
background-image: -moz-linear-gradient(bottom, #f60 0%, #ff8124 100%);
background-image: -o-linear-gradient(bottom, #f60 0%, #ff8124 100%);
background-image: -webkit-linear-gradient(bottom, #f60 0%, #ff8124 100%);
background-image: linear-gradient(bottom, #f60 0%, #ff8124 100%);
position: relative;
border: none;
line-height: 22px;
height: 31px;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;	
}


input.error,textarea.error {
border:1px solid red!important;
}

.news .names {
font-size: 16px;
color: #000;
font-weight: 400;
text-transform: uppercase;
}
.news .date {
font-size: 10px;
font-style: italic;
color: #939393;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 10px;
}
.news img {
	border:2px solid #ff6b06;
}
.news .intro {
	color: #333;
	font-family: "Open Sans", sans-serif;
	line-height: 20px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom:20px;
}

.paginate > a {
color: #fff;
display: inline-block;
background: #ff6b06;
line-height: 25px;
min-width: 10px;
height: 25px;
text-align: center;
padding: 0 10px 0px 10px;
}
.paginate > span {
color: #fff;
display: inline-block;
line-height: 25px;
min-width: 10px;
height: 25px;
text-align: center;
padding: 0 10px 0px 10px;
background: #ef4d39;
}
.paginate > a {margin-left: 10px; text-decoration: none;}
.paginate > span {margin-left: 10px;}
.paginate {padding-bottom: 17px;margin-top: 40px;}


.paginate a, .paginate span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.all_tour2 ul {margin:0;}
.page_rows2 h2 {
margin-top: 15px;
}
.sitemap ul{ padding:10px; list-style-type:none; margin:10px 20px;}
.sitemap ul ul,.sitemap ul ul, .sitemap ul ul ul, .sitemap ul ul ul ul { padding:10px; list-style-type:none; margin:10px 20px; border-left: 3px solid #ccc;}
.sitemap ul li { padding:2px;}
.sitemap a{color:#666;}
.gall img {
border:2px solid #ff6b06;
display:block;
float:left;
margin-right:7px;
margin-bottom:7px;	
}

.postsList{
padding: 18px 0px;
}
.postsList .item{
padding: 0 0 0 224px;
margin-bottom: 20px;	
}
.postsList .item .box{
float: left;
margin: 0 0 0 -224px;
width: 190px;
}
.postsList .item .box img{
display: block;
border: 2px solid #d8dadd;	
}
.postsList .item .date{
color:#8e7f6b;
font-size: 11px;
margin: 0 0 5px;
}
.postsList .item .name{
white-space: nowrap;
height: 18px;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 0 6px;

text-decoration: underline;	
}


.postsList .item .texts{
height: 64px;
overflow: hidden;

	font-size: 13px;
}
.postsList .divider{
border-top: 1px dashed #b6a389;
height: 1px;
font-size: 0;
line-height: 0;
margin: 19px 0 18px;
}
.m_none {
	margin: 0;
}
.coun {
width: 200px;
border: 1px solid #dddce1;
background-color: #fff;
margin-right: 14px;
margin-top: 14px;
float: left;
-o-transition: opacity .3s linear, box-shadow .3s linear;
-ms-transition: opacity .3s linear, box-shadow .3s linear;
-moz-transition: opacity .3s linear, box-shadow .3s linear;
-webkit-transition: opacity .3s linear, box-shadow .3s linear;
transition: opacity .3s linear, box-shadow .3s linear;
}
.coun .info {
background-color: #f3f5f7;
height: 80px;
overflow: hidden;
}
.coun .pages {
font-size: 18px;
text-decoration: none;
display: block;
text-align: center;
margin-top: 5px;
color: #000;
}
.coun .introtext {
font-size: 13px;
color: #808080;
padding-left: 8px;
padding-right: 8px;
margin-top: 7px;
	
	
}

.TVWideForm .TVSearchingForm {
width: 934px!important;
margin: 0 auto;
position: relative;
left: -4px;
}